In [1]:
import pandas as pd

Define an inbound account as an account where its first **created** order came from inbound (i.e: associated with an opp with the flag is from pro form)

Potential limitations

1. Maybe the first order was a test, maybe if failed from another source and then the account came back some time later. We will simply ignore these cases

In [15]:
general_mql_events = pd.read_csv('data/general_mql_events.csv')


general_mql_events['dateHourMinute'] = pd.to_datetime(general_mql_events['dateHourMinute'], format='%Y%m%d%H%M')

# Localize the dateHourMinute column to the 'CET' timezone
general_mql_events['dateHourMinute'] = general_mql_events['dateHourMinute'].dt.tz_localize('CET')

# Convert the dateHourMinute column to its UTC equivalent
general_mql_events['dateHourMinute'] = general_mql_events['dateHourMinute'].dt.tz_convert('UTC')

general_mql_events.head()

  campaignId campaignName            dateHourMinute    eventName  sessions
0  (not set)   (referral) 2023-02-02 14:55:00+00:00  general_mql         1
1  (not set)   (referral) 2023-02-03 14:29:00+00:00  general_mql         1
2  (not set)   (referral) 2023-02-04 13:16:00+00:00  general_mql         1
3  (not set)   (referral) 2023-02-05 14:09:00+00:00  general_mql         1
4  (not set)   (referral) 2023-02-05 14:10:00+00:00  general_mql         1

In [16]:
# Define events from search campaings
general_mql_from_campaign = general_mql_events[general_mql_events['campaignId'] != '(not set)']

# Print the results
general_mql_from_campaign.head()

,campaignId,campaignName,dateHourMinute,eventName,sessions
1181,17207660116,GER_Search_GEN,2023-02-13 00:36:00+00:00,general_mql,1
1182,17207660116,GER_Search_GEN,2023-02-15 11:22:00+00:00,general_mql,1
1183,17207660116,GER_Search_GEN,2023-02-18 01:08:00+00:00,general_mql,1
1184,17207660116,GER_Search_GEN,2023-02-20 08:43:00+00:00,general_mql,1
1185,17207660116,GER_Search_GEN,2023-02-28 11:07:00+00:00,general_mql,1

In [2]:
from databricks import sql

connection = sql.connect(server_hostname = DATABRICKS_SERVER_HOSTNAME,
                         http_path       = DATABRICKS_HTTP_PATH,
                         access_token    = DATABRICKS_TOKEN)

cursor = connection.cursor()

ImportError: cannot import name 'sql' from 'databricks' (C:\Users\Bernardo Carvalho\anaconda3\lib\site-packages\databricks\__init__.py)

In [3]:
import databricks

In [4]:
help(databricks)

Help on package databricks:

NAME
    databricks

PACKAGE CONTENTS


FUNCTIONS
    f()

    g(arg)

    version()

FILE
    c:\users\bernardo carvalho\anaconda3\lib\site-packages\databricks\__init__.py

In [9]:
# Read databrics.txt file
with open('keys/databricks.txt', 'r') as file:
    databricks = file.read()
# Store each row in one variable
databricks = databricks.split('\n')
DATABRICKS_SERVER_HOSTNAME = databricks[0]
DATABRICKS_HTTP_PATH = databricks[1]
DATABRICKS_TOKEN = databricks[2]